@font-face {
	font-family: 'pul_icons';
	src:url('fonts/pul_icons.eot?r321t9');
	src:url('fonts/pul_icons.eot?#iefixr321t9') format('embedded-opentype'),
		url('fonts/pul_icons.ttf?r321t9') format('truetype'),
		url('fonts/pul_icons.woff?r321t9') format('woff'),
		url('fonts/pul_icons.svg?r321t9#pul_icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
	font-family: 'pul_icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ico-music:before {
	content: "\e63e";
}
.ico-cd:before {
	content: "\e641";
}
.ico-video:before {
	content: "\e011";
}
.ico-video2:before {
	content: "\e60c";
}
.ico-image:before {
	content: "\e620";
}
.ico-princeton-thesis:before {
	content: "\e647";
}
.ico-thesis:before {
	content: "\e640";
}
.ico-book:before {
	content: "\e602";
}
.ico-book2:before {
	content: "\e629";
}
.ico-file:before {
	content: "\e625";
}
.ico-documents:before {
	content: "\e622";
}
.ico-file2:before {
	content: "\e626";
}
.ico-article:before {
	content: "\e643";
}
.ico-newspaper:before {
	content: "\e009";
}
.ico-search-in-page:before {
	content: "\e627";
}
.ico-search-cloud:before {
	content: "\e634";
}
.ico-phone:before {
	content: "\e603";
}
.ico-user:before {
	content: "\e60d";
}
.ico-info:before {
	content: "\e639";
}
.ico-collection:before {
	content: "\e61e";
}
.ico-archive:before {
	content: "\e609";
}
.ico-folders:before {
	content: "\e612";
}
.ico-folder:before {
	content: "\e613";
}
.ico-object:before {
	content: "\e605";
}
.ico-email:before {
	content: "\e621";
}
.ico-chart:before {
	content: "\e636";
}
.ico-graph:before {
	content: "\e018";
}
.ico-piechart:before {
	content: "\e050";
}
.ico-calendar:before {
	content: "\e63c";
}
.ico-settings:before {
	content: "\e02b";
}
.ico-link:before {
	content: "\e02e";
}
.ico-chat:before {
	content: "\e049";
}
.ico-upload:before {
	content: "\e04c";
}
.ico-download:before {
	content: "\e04d";
}
.ico-guide:before {
	content: "\e053";
}
.ico-search:before {
	content: "\e600";
}
.ico-question:before {
	content: "\e60a";
}
.ico-alert:before {
	content: "\e611";
}
.ico-alert2:before {
	content: "\e644";
}
.ico-404:before {
	content: "\e607";
}
.ico-location:before {
	content: "\e619";
}
.ico-map:before {
	content: "\e025";
}
.ico-building:before {
	content: "\e601";
}
.ico-web2:before {
	content: "\e630";
}
.ico-open:before {
	content: "\e606";
}
.ico-hours:before {
	content: "\e055";
}
.ico-window:before {
	content: "\e62c";
}
.ico-window2:before {
	content: "\e62e";
}
.ico-window3:before {
	content: "\e62f";
}
.ico-windows:before {
	content: "\e62d";
}
.ico-bookmark:before {
	content: "\e60f";
}
.ico-bookmark2:before {
	content: "\e632";
}
.ico-bookmark3:before {
	content: "\e633";
}
.ico-left-arrow:before {
	content: "\e637";
}
.ico-right-arrow:before {
	content: "\e638";
}
