$ico-music: "\e63e";
$ico-cd: "\e641";
$ico-video: "\e011";
$ico-video2: "\e60c";
$ico-image: "\e620";
$ico-princeton-thesis: "\e647";
$ico-thesis: "\e640";
$ico-book: "\e602";
$ico-book2: "\e629";
$ico-file: "\e625";
$ico-documents: "\e622";
$ico-file2: "\e626";
$ico-article: "\e643";
$ico-newspaper: "\e009";
$ico-search-in-page: "\e627";
$ico-search-cloud: "\e634";
$ico-phone: "\e603";
$ico-user: "\e60d";
$ico-info: "\e639";
$ico-collection: "\e61e";
$ico-archive: "\e609";
$ico-folders: "\e612";
$ico-folder: "\e613";
$ico-object: "\e605";
$ico-email: "\e621";
$ico-chart: "\e636";
$ico-graph: "\e018";
$ico-piechart: "\e050";
$ico-calendar: "\e63c";
$ico-settings: "\e02b";
$ico-link: "\e02e";
$ico-chat: "\e049";
$ico-upload: "\e04c";
$ico-download: "\e04d";
$ico-guide: "\e053";
$ico-search: "\e600";
$ico-question: "\e60a";
$ico-alert: "\e611";
$ico-alert2: "\e644";
$ico-404: "\e607";
$ico-location: "\e619";
$ico-map: "\e025";
$ico-building: "\e601";
$ico-web2: "\e630";
$ico-open: "\e606";
$ico-hours: "\e055";
$ico-window: "\e62c";
$ico-window2: "\e62e";
$ico-window3: "\e62f";
$ico-windows: "\e62d";
$ico-bookmark: "\e60f";
$ico-bookmark2: "\e632";
$ico-bookmark3: "\e633";
$ico-left-arrow: "\e637";
$ico-right-arrow: "\e638";
