    </div>
  </main>
</div>
<footer class="footer" role="contentinfo">
  <div class="container">
    <small class="copyright"><a href="#">Princeton University</a> &copy; 2016 The Trustees of Princeton University. All rights reserved.</small>
    <ul class="footer-links">
        <li><a href="http://library.princeton.edu/">Princeton University Library</a></li>
    </ul>
  </div>
</footer>
