    </div>
  </main>
</div>
<footer class="footer">
  <div class="container">
    <div class="copyright font-small">&copy; <%= Date.today.year %> The Trustees of Princeton University. All rights reserved.</div>
    <ul class="footer-links font-small">
      <li><a href="https://princeton.edu"><%= image_tag "pu_logo.svg", class: "logo-svg", alt: "Princeton University" %></a></li>
    </ul>
  </div>
</footer>
