    </div>
  </main>
</div>
<footer class="footer">
  <div class="container">
    <div class="copyright font-small"><a href="https://princeton.edu">Princeton University</a> &copy; <%= Date.today.year %> The Trustees of Princeton University. All rights reserved.</div>
    <ul class="footer-links font-small">
        <li><a href="https://library.princeton.edu/">Princeton University Library</a></li>
    </ul>
  </div>
</footer>
