<div class="wrapper--highlighted">
  <div class="container">
    <div class="l-region l-region--highlighted">
      <div class="site-branding">
        <a href="https://rbsc.princeton.edu/" title="Rare Books and Special Collections" class="rbsc-logo"><%= image_tag "rbsc_bookmark.svg", class: "logo-svg", alt: "Rare Books and Special Collections" %>
        <%= image_tag "rbsc_bookmark.png", class: "logo-no-svg", alt: "Rare Books and Special Collections" %></a>
        <a class="navbar-brand" href="https://rbsc.princeton.edu/" title="Rare Books and Special Collections - Home">
          <div class="dept-name">
            <span>THE DEPARTMENT OF</span>
            <h2>RARE BOOKS <small>AND</small> SPECIAL COLLECTIONS</h2>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="wrapper--navigation__rbsc">
  <div class="container">
    <div class="l-region l-region--navigation rbsc-processed">
      <a href="#" class="centered-navigation-menu-button">MENU</a>
      <nav id="block-system-main-menu" class="block block--system block--menu block--system-main-menu centered-navigation-menu pul-processed">
        <ul class="menu">
          <li class="first expanded"><a href="https://rbsc.princeton.edu/explore" class="bigdrop main-menu-link">Explore</a>
            <ul class="menu">
              <li class="first leaf"><a href="https://rbsc.princeton.edu/exhibitions" class="main-menu-link">Exhibitions</a></li>
              <li class="leaf"><a href="https://rbsc.princeton.edu/digital-highlights" class="main-menu-link">Digital Highlights</a></li>
              <li class="leaf"><a href="https://rbsc.princeton.edu/news" class="main-menu-link">New &amp; Notable</a></li>
              <li class="leaf"><a href="https://rbsc.princeton.edu/children" class="main-menu-link">For Children</a></li>
              <li class="leaf"><a href="https://rbsc.princeton.edu/publications" class="main-menu-link">Publications</a></li>
              <li class="leaf"><a href="https://rbsc.princeton.edu/projects" class="main-menu-link">Digital Humanities</a></li>
              <li class="last leaf"><a href="https://rbsc.princeton.edu/topics" class="main-menu-link">Guide to Topics</a></li>
            </ul>
          </li>
          <li class="expanded"><a href="https://rbsc.princeton.edu/collections" class="bigdrop main-menu-link">Collections</a>
            <ul class="menu">
              <li class="first leaf"><a href="https://rbsc.princeton.edu/divisions/cotsen-childrens-library" class="main-menu-link">Cotsen Children's Library</a></li>
              <li class="leaf"><a href="https://rbsc.princeton.edu/divisions/graphic-arts-collection" class="main-menu-link">Graphic Arts Collection</a></li>
              <li class="leaf"><a href="https://rbsc.princeton.edu/divisions/historic-maps-collection" class="main-menu-link">Historic Maps Collection</a></li>
              <li class="leaf"><a href="https://rbsc.princeton.edu/divisions/manuscripts-division" class="main-menu-link">Manuscripts Division</a></li>
              <li class="leaf"><a href="https://rbsc.princeton.edu/divisions/numismatic-collection" class="main-menu-link">Numismatic Collection</a></li>
              <li class="leaf"><a href="https://rbsc.princeton.edu/divisions/public-policy-papers" class="main-menu-link">Public Policy Papers</a></li>
              <li class="leaf"><a href="https://rbsc.princeton.edu/divisions/rare-book-division" class="main-menu-link">Rare Book Division</a></li>
              <li class="leaf"><a href="https://rbsc.princeton.edu/divisions/scheide-library" class="main-menu-link">Scheide Library</a></li>
              <li class="leaf"><a href="https://rbsc.princeton.edu/divisions/princeton-university-archives" class="main-menu-link">University Archives</a></li>
              <li class="last leaf"><a href="https://rbsc.princeton.edu/divisions/western-americana" class="main-menu-link">Western Americana Collection</a></li>
            </ul>
          </li>
          <li class="expanded"><a href="https://rbsc.princeton.edu/conducting-research" class="bigdrop main-menu-link">Conducting Research</a>
            <ul class="menu">
              <li class="first leaf"><a href="https://rbsc.princeton.edu/starting-your-research" class="main-menu-link">Starting Your Research</a></li>
              <li class="leaf"><a href="https://rbsc.princeton.edu/catalogs-databases" class="main-menu-link">Catalogs &amp; Databases</a></li>
              <li class="leaf"><a href="https://rbsc.princeton.edu/library-services" class="main-menu-link">Library Services</a></li>
              <li class="leaf"><a href="https://rbsc.princeton.edu/ask-question" class="main-menu-link">Ask A Question</a></li>
              <li class="last leaf"><a href="https://rbsc.princeton.edu/research-account-access" class="main-menu-link">Research Account Access</a></li>
            </ul>
          </li>
          <li class="expanded"><a href="https://rbsc.princeton.edu/visit-us" class="bigdrop main-menu-link">Visit Us</a>
            <ul class="menu">
              <li class="first leaf"><a href="https://rbsc.princeton.edu/you-visit" class="main-menu-link">Before You Visit</a></li>
              <li class="leaf"><a href="https://rbsc.princeton.edu/services/classroom-learning-services" class="main-menu-link">Schedule a Class Visit</a></li>
              <li class="leaf"><a href="https://rbsc.princeton.edu/locations/firestone-library" class="main-menu-link">Harvey S. Firestone Library</a></li>
              <li class="last leaf"><a href="https://rbsc.princeton.edu/mudd" class="main-menu-link">Seeley G. Mudd Manuscript Library</a></li>
            </ul>
          </li>
          <li class="last leaf"><a href="https://rbsc.princeton.edu/ask-question" class="main-menu-link">Ask A Question</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
</header>
<main id="main-content">
  <div class="container">
