<a class="skip-main" href="#main-content">Skip to main content</a>
<div class="wrapper">
  <header>
    <div class="branding">
      <div class="container">
        <h2><a href="https://library.princeton.edu" title="Princeton University Library - Home" class="site-logo">
        <%= image_tag "library_full_logo.svg", class: "logo-svg", alt: "Princeton University Library" %>
        <%= image_tag "library_full_logo.png", class: "logo-no-svg", alt: "Princeton University Library" %></a></h2>
      </div>
    </div>
