<a href="#" class="mobile-menu-button">MENU</a>
<nav id="main-menu" role="navigation" class="menu--main">
  <ul class="menu">
    <li class=""><a href="#">App Name</a></li>
    <li class="expanded"><a href="#">Dropdown Item</a>
      <ul class="menu">
        <li class=""><a href="#">Dropdown Sub-Menu Item</a></li>
        <li class=""><a href="#">Dropdown Sub-Menu Item</a></li>
      </ul>
    </li>
    <li class=""><a href="#" title="Login">Login</a></li>
  </ul>
</nav>
