.navbar-form,
.navbar-right {
    display: inline-block;
}

.navbar-right {
    float: right;
    margin-right: 1em;
}

#sidebar,
#content {
    position: relative;
    padding: 0 1em;
}

.facets-toggle {
  display: none;
}

.facets-heading {
  margin: 1em 0 0.5em;
  font-size: 1.2em;
}

.panel-default {
  margin-bottom: 0.5em;
    .panel-heading,
    .panel-body {
        border: 1px solid $gray-light;
        padding: 0.7em 1em;
    }

    .panel-heading {
      cursor: pointer;
      background: $tertiary-color;
    }

    .panel-title {
      font-size: 1em;
      margin: 0;
      a {
        text-decoration: none;
        color: $black;
      }
    }

    .panel-body {
      border-top: 0;
    }

    .collapse {
      display: none;

      &.in      { display: block; }
      // [converter] extracted tr&.in to tr.collapse.in
      // [converter] extracted tbody&.in to tbody.collapse.in
    }

    tr.collapse.in    { display: table-row; }

    tbody.collapse.in { display: table-row-group; }

    .collapsing {
      position: relative;
      height: 0;
      overflow: hidden;
      transition-property: height, visibility;
      transition-duration: .35s;
      transition-timing-function: ease;
    }

    .more_facets_link {
      margin-top: 1em;
    }
}

.search-widgets {
  .btn-group {
  float: left;
  font-weight: normal;
}
.btn-group ~ .btn-group {
  margin-left: 6px;
}
}

.twitter-typeahead input {
  padding: 5px 10px;
}
