.image-masthead,
.masthead {
  .navbar {
  background-color: $gray-lightest;
  }

  .dropdown-menu {
    background-color: $gray-lightest;
    font-family: $font-secondary;

    > li > a:hover,
    > li > a:focus {
      background-color: $gray-light;
    }
  }

  .h1 {
  font-family: $font-secondary;
  letter-spacing: 0.04em;
  }

  .background-container-gradient {
    background:
     linear-gradient(
       rgba($gray-darkest, 0.35),
       rgba($gray-darkest, 0.5),
       rgba($gray-darkest, 0.65),
       rgba($gray-darkest, 0.5)
     );
    height: 100%;
  }
}

.image-masthead .navbar .navbar-nav > li > a,
.masthead .navbar .navbar-nav > li > a,
.image-masthead .navbar .navbar-nav > .active > a {
  color: $black;
  font-family: $font-secondary;
  text-transform: capitalize;
  background: none;

  &:active,
  &:hover,
  &:focus {
    color: $black;
    background: $gray-light;
  }
}

.image-masthead .navbar .navbar-nav > .active > a {
  background: $gray-light;
}

.masthead {
  background-color: $gray-lightest;
}

.search-query-form {
  width: calc(100% - 30px);
  margin: 0 auto;
  border: 0;
}
