@import '../components/header';

.menu--user {
  float: right;
  height: $logo-height;

  > li {
    height: $logo-height;
  }

  button {
    @include vertical-align;

    background: transparent;
    border: 0;
    color: $white;
    height: ($logo-height / 1.5);
  }

  .dropdown-menu {
    margin-top: 0.9em;
  }
}
