.button.pull-right {
  margin-top: 2.3rem;
}

// when is this being used? needs more specificity. not very clear why there needs to be a right margin
// .btn + .btn {
//   margin-right: 1em;
// }

.btn {
  background: $gray-lightest;
  border: 1px solid $gray-light;
  color: $black;
  border-radius: 4px;
  background-clip: padding-box;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: 0.7em 1em;
  text-shadow: 0;
  text-decoration: none;
  vertical-align: top;
  // width: auto;
  line-height: 1;

  // Helvetica Neue present, because it works better
  // for line-height on buttons than Arial, on OS X.
  font-family: $font-sans; //"Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;

  &:hover,
  &:focus,
  &-primary {
    background: $blue-dark;
    border-color: $blue-dark;
    color: $white;
    text-decoration: none;
  }
}

// mudd-dbs form buttons in admin view
.button_to {
  margin: 0;
}

.btn-xs {
  font-size: 0.75rem;
  padding: 0.4em 0.5em;
}

.btn-info,
a.button.btn-info,
input[type="reset"].btn-info,
input[type="button"].btn-info,
input[type="submit"].btn-info {
  background: $blue-light;
  color: $black;
}

.btn-warning,
a.button.btn-warning,
input[type="reset"].btn-warning,
input[type="button"].btn-warning,
input[type="submit"].btn-warning {
  background: $yellow-light;
  color: $black;
}

.btn-danger,
a.button.btn-danger,
input[type="reset"].btn-danger,
input[type="button"].btn-danger,
input[type="submit"].btn-danger {
  background: $red-light;
  color: $black;
}
