.button.pull-right {
  margin-top: 2.3rem;
}

.btn + .btn {
  margin-right: 1em;
}

.btn {
  background: $gray-lightest;
  border: 1px solid $gray-light;
  color: $black;
  border-radius: 4px;
  background-clip: padding-box;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: 0.7em 1em;
  text-shadow: 0;
  text-decoration: none;
  vertical-align: top;
  // width: auto;
  line-height: 1;

  // Helvetica Neue present, because it works better
  // for line-height on buttons than Arial, on OS X.
  font-family: $font-sans; //"Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;

  &:hover,
  &:focus,
  &-primary {
    background: $primary-color;
    border-color: $primary-color;
    color: $white;
    text-decoration: none;
  }
}
