form {
  margin-bottom: 2em;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

input,
// button,
a.button,
select,
textarea {
  &:invalid {
    box-shadow: none;
  }

  &:focus {
    box-shadow: none;
    border: solid 1px $princeton-orange;
    z-index: 1;
  }
}

input[type="file"],
input[type="radio"],
input[type="checkbox"] {
  &:focus,
  &:active {
    box-shadow: none;
  }
}

// button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  border-radius: 4px;
  background: $blue-dark;
  background-clip: padding-box;
  border: 1px solid $gray-light;
  cursor: pointer;
  color: $white;
  display: inline-block;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: 0.7em 1em;
  text-shadow: 0;
  text-decoration: none;
  vertical-align: top;
  // width: auto;
  line-height: 1;

  // Helvetica Neue present, because it works better
  // for line-height on buttons than Arial, on OS X.
  font-family: $font-sans; //"Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;

  &:visited {
    color: $white;
  }

  &:hover {
    text-decoration: none;
  }

  &:active {
    box-shadow: none;
    border-color: $gray-light;
  }

  // Kill phantom spacing and dotted
  // border that appears in Firefox.
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

textarea,
select,
input
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  @include box-sizing(border-box);

  background-clip: padding-box;
  border-radius: 2px;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: $gray-light;
  color: black;
  outline: 0;
  margin: 6px 0 4px;
  padding: 0.5em 0.7em;
  line-height: 1.4rem;
  text-align: left;
  font-size: 13px;
  width: 100%;
  vertical-align: top;

  // Leaving out Helvetica Neue, to not throw off size="..."
  // on inputs. Arial is more reliable, on Windows and OS X.
  font-family: $font-sans;

  &[disabled] {
    background-color: $gray-lightest;
  }

  &:focus {
    box-shadow: none;
    border: solid 1px $princeton-orange;
    z-index: 1;
  }
}

// for firefox
select {
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';

  background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: $gray-light;
  cursor: default;
}

// Separate rule for Firefox.
// Separate rule for IE, too.
// Cannot stack with WebKit's.
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: $gray;
  line-height: 1.4rem;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: $gray-light;
  line-height: 1.4rem;
}

input.placeholder_text,
textarea.placeholder_text {
  color: $gray-light;
  line-height: 1.4rem;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

// Set height back to normal,
// for Opera, WebKit, and IE.
select[size="0"],
select[size="1"] {
  height: 1.8em;
}

// Tweaks for Safari + Chrome.
@media (-webkit-min-device-pixel-ratio: 0) {
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, $gray-light), color-stop(1, $black));
    border: 1px solid $gray-light;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px;
  }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: $gray-light;
    border-color: $gray-light;
  }
}

textarea {
  min-height: 150px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

select {
  width: auto;
}

optgroup {
  color: $black;
  font-style: normal;
  font-weight: normal;
  font-family: $font-sans;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

label,
.form-label,
.field_head {
  display: inline-block;
  font-weight: 700;
  margin-top: 1em;
}

.form-inline {
  input {
    width: auto;
  }
}

.form-actions {
  margin-top: 1em;
}

/* Container used for styling the custom select, the buttom class below adds the
 * bg gradient, corners, etc. */
.custom-select {
  position: relative;
  display: inline-block;
}

/* This is the native select, we're making everything but the text invisible so
 * we can see the button styles in the wrapper */
.custom-select select {
  width: 100%;
  margin: 0;
  outline: none;
  // padding: .6em .8em .5em .8em;

  /* Prefixed box-sizing rules necessary for older browsers */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  /* Font size must be 16px to prevent iOS page zoom on focus */
  font-size: 16px;
}


/* Custom arrow sits on top of the select - could be an image, SVG, icon font,
 * etc. or the arrow could just baked into the bg image on the select. */
.custom-select::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 1em;
  z-index: 2;
  /* These hacks make the select behind the arrow clickable in some browsers */
  pointer-events: none;
  display: none;

  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #666;
  margin-top: -3px;
}

@supports ( -webkit-appearance: none ) or ( appearance: none )
  /* Firefox <= 34 has a false positive on @supports( -moz-appearance: none )
   * @supports ( mask-type: alpha ) is Firefox 35+
   */
  or ( ( -moz-appearance: none ) and ( mask-type: alpha ) ) {

  /* Show custom arrow */
  .custom-select::after {
    display: block;
  }

  /* Remove select styling */
  .custom-select select {
    padding-right: 2em; /* Match-01 */
    /* inside @supports so that iOS <= 8 display the native arrow */
    background: none; /* Match-04 */
    /* inside @supports so that Android <= 4.3 display the native arrow */
    border: 1px solid transparent; /* Match-05 */

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .custom-select select:focus {
    border-color: #aaa; /* Match-03 */
  }
}

/* Adds Firefox < 35 support */
/* FIREFOX won't let us hide the native select arrow, so we have to make it wider than needed and clip it via overflow on the parent container. The percentage width is a fallback since FF 4+ supports calc() so we can just add a fixed amount of extra width to push the native arrow out of view. We're applying this hack across all FF versions because all the previous hacks were too fragile and complex. You might want to consider not using this hack and using the native select arrow in FF. Note this makes the menus wider than the select button because they display at the specified width and aren't clipped. Targeting hack via http://browserhacks.com/#hack-758bff81c5c32351b02e10480b5ed48e */
/* Show only the native arrow */
@-moz-document url-prefix() {
  /* Warning: this kills the focus outline style */
  .custom-select {
    overflow: hidden;
  }
  .custom-select::after {
    display: block;
  }
  /* Make the native select extra wide so the arrow is clipped. 1.5em seems to be enough to safely clip it */
  .custom-select select {
    overflow: -moz-hidden-unscrollable;
    padding-right: .4em;
    background: none; /* Match-04 */
    border: 1px solid transparent; /* Match-05 */
    /* Firefox < 4 */
    min-width: 6em;
    width: 130%;
    /* Firefox 4-15 */
    min-width: -moz-calc(0em);
    width: -moz-calc(100% + 2.4em);
    /* Firefox 16+ */
    min-width: calc(0em);
    width: calc(100% + 2.4em);
  }

  /* Firefox 35+ that supports hiding the native select can have a proper 100% width, no need for the overflow clip trick */
  @supports ( mask-type: alpha ) {
    .custom-select {
      overflow: visible;
    }
    .custom-select select {
      -moz-appearance: none;
      width: 100%;
      padding-right: 2em; /* Match-01 padding-right */
    }
  }
}

/* Firefox focus has odd artifacts around the text, this kills that. See https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-focusring */
.custom-select select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* IE 10/11+ - This hides native dropdown button arrow so it will have the custom appearance. Targeting media query hack via http://browserhacks.com/#hack-28f493d247a12ab654f6c3637f6978d5 - looking for better ways to achieve this targeting */
/* The second rule removes the odd blue bg color behind the text in the select button in IE 10/11 and sets the text color to match the focus style's - fix via http://stackoverflow.com/questions/17553300/change-ie-background-color-on-unopened-focused-select-box */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .custom-select select::-ms-expand {
    display: none;
  }
  .custom-select select:focus {
    border-color: #aaa; /* Match-03 */
  }
  .custom-select select:focus::-ms-value {
    background: transparent;
    color: #222; /* Match-02*/
  }
  .custom-select select {
    padding-right: 2em; /* Match-01 */
    background: none; /* Match-04 */
    border: 1px solid transparent; /* Match-05 */
  }
  .custom-select::after {
    display: block;
  }
}

.select2-container {
  margin-top: 6px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid $princeton-orange;
}
