$susy: (output: float, container: 1200px, columns: 12, gutters: 2 / 3, global-box-sizing: border-box, debug: (image: hide, color: rgba($secondary-color, 0.25), output: overlay, toggle: top right));

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  @include container;
}

main {
  padding: 1em 0 2em 0;
}

.contain--half {
  @include span(6);
}

.contain--half + .contain--half {
  @include span(6 last);
}
