$susy: (output: float, container: 1200px, columns: 12, gutters: 2 / 3, global-box-sizing: border-box, debug: (image: hide, color: rgba($orange, 0.25), output: overlay, toggle: top right));

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  @include container;
}

main {
  padding-bottom: 2em;
}
