$susy: (output: float, container: 1200px, columns: 12, gutters: 2 / 3, global-box-sizing: border-box, debug: (image: hide, color: rgba($princeton-orange, 0.25), output: overlay, toggle: top right));

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  @include container;
}

main {
  padding: 1em 0 2em 0;
}

.sidebar--catalog {
  @include breakpoint($bp-med-2) {
    @include span(4 of 12);
  }
}

.content--catalog {
  @include breakpoint($bp-med-2) {
    @include span(8 of 12 last);
  }
}

.sidebar--show {
  @include breakpoint($bp-med-2) {
      @include span(4 of 12 last);
    }
}

.content--show {
  @include breakpoint($bp-med-2) {
    @include span(8 of 12);
  }
}

.contain--full {
  @include span(full);
}

.contain--half {
  @include breakpoint($bp-med-2) {
    @include span(6);
  }
}

.contain--half + .contain--half {
  @include breakpoint($bp-med-2) {
    @include span(6 last);
  }
}
