.table {
  width: 100%;
  margin: 1em 0;

  tr {
    border-top: solid 1px $gray-light;
  }

  th {
    white-space: nowrap;
  }

  th,
  td {
    padding: 0.75rem;
    text-align: left;
    vertical-align: top;
  }

  td {
    word-break: keep-all;
  }
}

.table thead tr {
  border-top: 0;
  border-bottom: 1px solid $gray;
}

.tablesorter-headerRow {
  border-bottom: 2px solid $gray;
  color: $black;
}

// Zebra table stripes
.table.table--striped thead tr {
  background: $white;
  font-weight: bold;
}

.table--striped tr:nth-child(even),
.tablesorter-default tr.even > td,
.tablesorter-filter-row {
  background: $white;
}

.table--striped tr:nth-child(odd),
.tablesorter-default tr.odd > td {
  background: $gray-lightest;
}

// Border around all cells
.table--bordered {
  tr {
    border: 0;
  }

  th,
  td {
    border: 1px solid $gray-light;
  }
}

// Highlight row on hover
tr:hover td,
.tablesorter-default tr.odd:hover > td,
.tablesorter-default tr.even:hover > td {
  background: $yellow-light;
}

// Filter for tablesorter plugin (https://github.com/themilkman/jquery-tablesorter-rails)
.tablesorter-filter-row input {
  margin: 0;
  color: $black;
}

.tablesorter .filtered {
  display: none;
}

// Hide input if filter for column is disabled
.tablesorter input:disabled {
  background: transparent;
  border: 0;
  cursor: initial;
}
