// @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro);

html {
  font-size: 16px;
}

body {
  color: $black;
  font-family: $font-primary;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.45em;
}

p {
  margin-top: 1.3em;

  &:first-of-type {
    margin-top: 0;
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  font-family: $font-secondary;
  font-weight: inherit;
  line-height: 1.2em;
  margin: 1.414rem 0 0.5rem;
}

h1 {
  font-size: 2.074em;
}

h2 {
  font-size: 1.728em;
}

h3 {
  font-size: 1.44em;
}

h4 {
  font-size: 1.2em;
}

small,
.font-small {
  font-size: 0.833em;
}

.font-secondary {
  font-family: $font-secondary;
}

// blockquote
.quote {
  padding: 2em 2.5em;
  margin: 2em 0 2.5em;
  position: relative;
  background: $gray-lightest;

  &:before {
    font-family: $font-secondary;
    content: "“";
    position: absolute;
    top: 35px;
    left: -20px;
    font-size: 10em;
    color: $gray-light;
    font-weight: normal;
  }

  &:after {
      font-family: $font-secondary;
      content: "”";
      position: absolute;
      bottom: -110px;
      line-height: 100px;
      right: -32px;
      font-size: 20em;
      color: $gray-light;
      font-weight: normal;
    }

  &__content {
    font-family: $font-secondary;
    font-size: 1.15rem;
    line-height: 1.6rem;
  }

  cite,
  &__cite {
    color: $gray-darkest;
    font-size: 0.9rem;
    font-style: normal;
  }
}
