@font-face {
  font-family: "DejaVu";
  font-weight: 400;
  font-style: normal;
  src:  font-url("DejaVuSansCondensed.eot");
  src:  font-url("DejaVuSansCondensed.eot?#iefix") format("embedded-opentype"),
        font-url("DejaVuSansCondensed.woff2") format("woff2"),
        font-url("DejaVuSansCondensed.woff") format("woff"),
        font-url("DejaVuSansCondensed.ttf") format("truetype"),
        font-url("DejaVuSansCondensed.svg#DejaVu") format("svg");
}

@font-face {
  font-family: "DejaVu";
  font-weight: 700;
  font-style: normal;
  src:  font-url("DejaVuSansCondensed-Bold.eot");
  src:  font-url("DejaVuSansCondensed-Bold.eot?#iefix") format("embedded-opentype"),
        font-url("DejaVuSansCondensed-Bold.woff2") format("woff2"),
        font-url("DejaVuSansCondensed-Bold.woff") format("woff"),
        font-url("DejaVuSansCondensed-Bold.ttf") format("truetype"),
        font-url("DejaVuSansCondensed-Bold.svg#DejaVu") format("svg");
}
