.footer {
  padding: 1em;

  .copyright {
    float: right;
    line-height: 32px;
    font-size: 12px;
  }

  a {
    color: $black;

    &:visited {
      color: $black;
    }

    &:hover {
      background: none;
      color: $black;
    }
  }
}
