// sticky footer
$footer-height: 60px;

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -$footer-height;
}

.wrapper:after {
  content: "";
  display: block;
}

.footer, .wrapper:after {
  @include breakpoint($bp-med-2) {
    height: $footer-height;
  }
}

.footer {
  background: $gray-lightest;
}
