.menu--grid {
  padding: 0.5em 0 1.5em;

  > li {
    @include breakpoint($bp-small-2-mm) {
      &:nth-child(even) {
        @include span(first 6);
      }
      &:nth-child(odd) {
        @include span(last 6);
      }
    }

    @include breakpoint($bp-med-2) {
      @include span(3);
    }

    background: $tertiary-color;
    border: 1px solid $gray-light;
    border-radius: $base-border-radius;
    height: 100px;
    margin-bottom: 1.4em;
    position: relative;

    &:first-child {
      @include breakpoint($bp-small-2-mm) {
        @include span(full);
      }

      @include breakpoint($bp-med-2) {
        @include span(first 6 of 12);
      }
    }

    &:nth-child(3),
    &:nth-child(7) {
      @include breakpoint($bp-med-2) {
        @include span(last 3);
      }
    }
  }

  a {
    color: $black;
    display: inline-block;
    font-size: 1.75em;
    height: 100px;
    line-height: 1.2em;
    margin: 0;
    padding: 0.5em;
    position: absolute;
    width: 100%;
    z-index: 1;

    @include breakpoint($bp-med-2-mm) {
      font-size: 1.1em;
    }

    @include breakpoint($bp-med-3-mm) {
      font-size: 1.3em;
    }
  }
}
