.menu--grid {
  padding: 0.5em 0 1.5em;

  > li {
    @include span(3);

    background: $tertiary-color;
    border: 1px solid $gray-light;
    border-radius: $base-border-radius;
    height: 100px;
    margin-bottom: 1.4em;
    position: relative;

    &:first-child {
      @include span(first 6 of 12);
    }

    &:nth-child(3),
    &:nth-child(7) {
      @include span(last 3);
    }
  }

  a {
    color: $black;
    font-size: 1.75em;
    height: 0;
    left: 10px;
    margin: 0;
    padding-right: 0.2em;
    position: absolute;
    // text-shadow: 2px 2px $gray-darkest;
    top: 10px;
    width: 99%;
    z-index: 1;

    display: inline-block;
    height: 120px;
    padding: 0;
    width: 100%;
    line-height: 1.2em;
  }
}
